doctype html
html
  head
    title Jeremy's Dance Academy
    block scripts
    block style
  body
    nav#navbar 
       ul 
           
         div#logo
             img(src="/static/img/i8.PNG")
             |  JDA    
         li #[a(href="/") Home]
         li #[a(href="/") Contact Us]
         li #[a(href="/") About]
         li #[a(href="/") Services]
         li #[a(href="/") Timings]
    block content
    footer#footerSection 
      | Copyrights @ 2023 Jeremy's Dance Academy.All rights reserved.
      