h1{
    text-align: center;
    color:black;
    
    margin:12px 0px;

}
.container
{
    min-height:20vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.myForm{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
}
.myInput{
    width:40%;
    padding:10px;
    margin:4px;
    border-radius:5px;
    outline:none;
    font-size:100%;
    font-style:oblique;
}
.btn{
    padding:12px 14px;
    font-size:14px;
    color:black;
    border-radius: 3px;
    background-color: blueviolet;
    cursor:pointer;
}